@import url('href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap"');

/* Useful sites to convert units of measurements */
/* https://nekocalc.com/px-to-rem-converter */
/* https://codebeautify.org/em-to-px-converter */

/* For context, read the following article about breakpoints */
/* https://blog.logrocket.com/css-breakpoints-responsive-design/ */

/* Additional explanations: */
/* the following CSS rules (*,*::before,*::after) universally removes browser default styling so that the elements are consistent across different browsers. box-sizing: inherit property ensures that any custom box-sizing set in other parts of this CSS style will still apply.
 */

/* for the first and last child if everything, reset the css style to default */
*,*::before,*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* set box-sizing: border-box; where both divs are the same size now with padding and border included in the width and height */

/* Additional explanations: */
/* box-sizing property ensures consistent sizing behavior for the entire viewport. */

/* as a good practice, add box-sizing: border-box to the universal selector (*) when starting the CSS file so its out of the way and all elements get that. */

html{
	box-sizing: border-box;
	font-size: 62.5%;
	background: #6b7893;
}

/* Common breakpoints set based on a 12 column-grid system, where the max-width is divisible by 12 to render the html background-color and font-size */

/* max-width <= 93.75em (1500px), set html background-color to white*/
@media only screen and (max-width: 93.75em){
	html{
		background-color:#fff;
	}
}

/* max-width <= 75em (1200px), set html font-size to 50% */
@media only screen and (max-width: 75em){
	html{
		font-size:50%;
	}
}

/* width <= 62.5em (900px), set html font-size to 62.5% */
@media only screen and (max-width: 56.25em){
	html{
		font-size:62.5%;
	}
}

/* width <= 26.25em (420px) set html font-size to 50% */
@media only screen and (max-width: 26.25em){
	html{
		font-size:50%;
	}
}

/* set the body of the page (color and font-family) */
body{
	color: #303646;
	font-family: "Lato", sans-serif;
}

/* :::: START OF CONTAINER :::: */

/* set the container's max width == (150rem) 1600px*/

/* Additional explanations: .container uses a grid-template-columns property to set up a grid layout that has columns that includes named grid lines that separates the columns (think of named grid lines as dividers); these gridlines can be reused in later parts of the CSS rules to specify the total columns that a style wants to consume. */

/* 
For context, refer to the diagram namedgridlines.jpg:
1. "full--start" is the first grid line 
2. after "full--start", 0.6 fractional units are created
3. after 0.6 fractional units, two more gridlines follow "center--end" and "center--start" 
4. thereafter, 0.4 fractional units are created; and finally
5. the grid column ends with the last grid line "full--end" 
*/

.container{
	max-width: 150rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: [full--start] 0.6fr [center--end center--start] 0.4fr [full--end];
	grid-template-rows: repeat(6, min-content)
}

/* when the viewport width is <1200px (75em), set the containers's max-width to 100% (100vw) */
@media only screen and (max-width: 75em){
	.container{
		max-width: 100vw; 
	}
}

/* :::: END OF CONTAINER :::: */


/* :::: START OF NAVIGATION :::: */

/* --- DESKTOP SECTION --- */

/* set the .nav (navigation bar) using a grid */
.nav{
	grid-column: full--start / full--end;
	padding: 1rem 1.5rem;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

/* set .logo width and height */
.logo{
	height: 4rem;
	width: auto;
}

/* set .logo-link */
.logo-link{
	text-decoration: none;
	display: flex;
	align-items: center;
}

/* set logo-name */
.logo-name{
	font-size: 2rem;
	text-transform: uppercase;
}

/* set logo-name in bold */
.logo-name-bold{
	font-weight: 700;
	color: #484848;
}

/* set logo-name (non-bold) */
.logo-name-thin{
	font-weight: 400;
	color:#aaa;
}

/* set the navigation list (.nav-list) */
/* it is common occurance to use list(s) for a navbar */
.nav-list{
	list-style: none;
	font-size: 1.6rem;
	display: flex;
	margin-left: auto;
}

/* set .nav-item right margin (except the last item) */
/* reference: https://www.geeksforgeeks.org/css-notlast-childafter-selector/ */
.nav-item:not(:last-child){
	margin-right: 2rem;
}

/* set the color for .nav-link, note: pseudo class apply */
.nav-link:link,.nav-link:visited{
	display: inline-block;
	text-decoration: none;
	color: #828282;
}

.nav-link:hover,.nav-link:active{
	color:#b2b2b2;
}

/* --- MOBILE SECTION --- */

/* change .nav's properties when max-width <= 37.5em (600px) */
@media only screen and (max-width: 37.5em){
	.nav{
		padding: 0;
		height: 6.4rem;
	}
}

/* hide .nav-desktop when max-width < 37.5em (600px) */
@media only screen and (max-width: 37.5em){
	.nav-desktop{
		display: none;
	}
}

/* hide .nav-mobile (default) */
.nav-mobile{
	display: none;
}

/* display .nav-mobile when max-width < 37.5em (600px) */
@media only screen and (max-width: 37.5em){
	.nav-mobile{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

/* set the height of the mobile navigation icons */
.nav-mobile-icon{
	height: 4rem;
	width:auto;
}

/* :::: END OF NAVIGATION :::: */

/* :::: START OF HEADER :::: */

/* --- DESKTOP SECTION --- */

/* set .header_picture's background-color */
.header-picture{
	background-color: #c8c8c8;
	padding: 2rem 0.75rem; /* top & bottom, left & right*/
}

/* set <img> width within .header-picture to 100% */
.header-picture img{
	width:100%;
	height: auto;
}

/* set .header-content, note the padding set to the right */
.header-content{
	background-color: #c8c8c8;
	padding: 0.75rem 4rem 0.75rem 0.75rem; /* top, right, bottom, left */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

/* set <h1> tag wthin <header> */
header h1{
	font-size: 4.5rem;
	line-height: 1;
	margin-bottom: 2rem;
}

/* set <h2> tag wthin <header> */
header h2{
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

/* set .btn and its pseudo classes */
.btn,.btn:link,.btn:visited{
	text-decoration: none;
	display: inline-block;
}

/* set btn-call-to-action button */
.btn-call-to-action{
	background-color: #4a4a4a;
	color: #fff;
	font-weight: 300;
	font-size: 1.8rem;
	padding: 1.5rem 0rem; /* top & bottom, left & right*/
	display: block;
	align-self: stretch;
	margin-right: 10%;
	text-align: center;
}

/* set the mouseover effect for btn-call-to-action, note: pseudo class apply */
.btn-call-to-action:hover{
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0,0,0,0.2) /* top, right & left, bottom*/
}

/* --- MOBILE SECTION --- */

/* NOTE: Under this following approach, styles can also be combined within a single view size; in this instance, display .header_mobile and its contents when max-width < 37.5em (600px) */

/* In this example, for header, more than one breakpoint applies to switch to a mobile view : 37.5em (600px) and 48em (768px) */

@media only screen and (max-width: 37.5em), (max-width: 48em){

	/* extend the picture to take up the entire view port */
	.header-picture{
		grid-column: full--start / full--end;
		padding: 0;	
	}

	/* extend the header content to take up the entire view port */
	.header-content{
		grid-column: full--start / full--end;
		padding: 10%;
		padding: 1.5rem;
	}

	/* set .btn-call-to-action for .header-mobile */
	.btn-call-to-action{
		background-color: #8e8e8e;
		color: #fff;
		font-weight: 300;
		font-size: 1.8rem;
		padding: 1.5rem 0rem; /* top & bottom, left & right*/
		display: block;
		margin: 1.5rem;
		align-self: stretch;
		text-align: center;
	}
}

/* :::: END OF HEADER :::: */


/* :::: START OF FOOTER :::: */

/* --- DESKTOP SECTION --- */

/* extend the footer take up the entire view port */
.footer{
	display:flex;
	font-size: 1.2rem;
	background-color: #f0f0f0;
	grid-column:full--start / full--end;
	padding: 1rem 1.5rem 2rem 1.5rem; /* top right bottom left */
}

/* set .footer-copyright with margin-right auto to flush the list to the right of the page within footer */
.footer-copyright{
	margin-right: auto;
}

/* set the terms and privacy list into a single row (using flex) */
.footer-list{
	list-style: none;
	display: flex;
}

/* set each footer item (terms, privacy) with a margin of 1.6rem, except the last footer item */
.footer-item:not(:last-child){
	margin-right:1.6rem
}

/* set the footer links' color, pseudo classes apply */
.footer-link:link,.footer-link:visited{
	color: #303646;
	display:inline-block;
	text-decoration:none;
}

.footer-link:hover,.footer-link:active{
	text-decoration: underline;
}

/* --- MOBILE SECTION --- */

@media only screen and (max-width: 37.5em){
	.footer-list{
		display:none
	}
}

/* :::: END OF FOOTER :::: */


/* :::: START OF PRACTICE :::: */

/* --- DESKTOP SECTION --- */

/* set background color and padding for practice section */
.practice{
	background-color: #f0f0f0;
	padding: 2rem 1.5rem; /* top & bottom, left & right */
}

/* set the size of each image in class practice */
.practice img{
	width: 100%;
}

/* set <h3> used in .practice class */
.practice h3{
	font-size: 2.4rem;
	font-weight: 700;
	padding: 2rem 0rem; /* top & bottom, left & right */
}

/* set font-size and margin-bottom for .practice-text class */
.practice-text{
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

/* set font-size and padding for .practice-name class */
.practice-name{
	font-size: 1rem;
	padding: 2rem 0rem; /* top & bottom, left & right */
}

/* set the style for .info class - a grid of 3 rows occupying 1 fractional unit applies */
.info{
	background-color: #f9f7f6;
	border-left: 1px solid #e7e7e7;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 3px;
}

/* set the style for .info-block class - a grid of 2 columns apply */
.info-block{
	display:grid;
	grid-template-columns: 0.4fr 0.6fr;
	grid-column-gap: 5%;
	align-items: center;
	border-bottom: 1px solid #e7e7e7;
	padding: 2rem 0rem 2rem 2rem; /* top, right, bottom, left*/
}
/* set <img> used in .info-block class  */
.info-block img{
	width: 100%;
	height: auto;
}

/* set a padding for info */
.info-block-content{
	padding: 1rem;
}

/* set <h4> used in .info-block-content class */
.info-block-content h4{
	color: #303646;
	font-size: 2.4rem;
	font-weight: 400;
}

/* set <p> used in .info-block-content class */
.info-block-content p{
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

/* set the last child of info-block with a different color: #e7e7e7 */
.info-block:last-child{
	background-color:#e7e7e7;
}

/* Set the color of "Read more" links within .info-block */
.btn-small:link,.btn-small:visited{
	font-size: 1.5rem;
	font-weight: 400;
	color: #30A9DE;
	border-bottom: 1px solid transparent;
}

/* set the hover and active pseudo classes for btn-small class (to underline the link) */
.btn-small:hover, .btn-small:active{
	text-decoration: underline;
}

/* .info-mobile is hidden by default, until the view breakpoint changes to a mobile view */
.info-mobile{
	display: none;
}


/* --- MOBILE SECTION */

/* In this example, for practice section, more than one breakpoint applies to switch to a mobile view : 37.5em (600px) and 48em (768px) */

@media only screen and (max-width: 37.5em), (max-width: 48em){

	/* hide .practice when breakpoint arrives mobile view */
	.practice{
		display:none
	}

	/* hide .info when breakpoint arrives at mobile view */
	.info{
		display: none;
	}

	/* dislay .info-mobile in mobile view as a grid with grid-column taking up the entire width (full--start to full-end) */
	.info-mobile{
		display: grid;
		grid-column:full--start / full--end;
	}

	/* display .infoblock in mobile view as a single column (1fr) with a padding of 1.6rem */
	.info-block{
		grid-template-columns: 1fr;
		padding: 1.6rem;
	}

	/* set a padding of 2rem per .info-block-content */
	.info-block-content{
		padding: 2rem;
	}

	/*remove the background from the last .info-block */
	.info-block:last-child{
		background-color: transparent;
	}
	
}

/* :::: END OF PRACTICE :::: */